name: Release

on:
  release:
    types:
      - published

permissions:
  id-token: write

jobs:
  release:
    environment: npm
    runs-on: ubuntu-latest

    steps:
      - name: Checkout default repository
        uses: actions/checkout@v6

      - name: Reference branch
        id: ref-branch
        uses: aidc-toolkit/.github/actions/ref-branch@main

      - name: Build, test, publish
        uses: aidc-toolkit/.github/actions/build-test-publish@${{ steps.ref-branch.outputs.branch_name }}
        with:
          vars: ${{ toJSON(vars) }}
